body {
    margin-bottom: 20px;
    background-color: #0f0f0f!important;
    font-family: "Courier New", Courier, monospace;
    color: rgb(149, 255, 175);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    font-size: 16px;
    margin-bottom: 200px;
    height: 100%;
}

ul {
    padding: 0;
}

/* Navbar Elements */
nav {
    /* position: fixed; */
    font-size: 12pt;
    width: clamp(250px, 80vw, 90vw);
    font-size: clamp(24, 1.5vw, 30px);
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    z-index: 998;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav li {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}


/* End of Navbar */

.welcome-line {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding: 5px;
    min-width: 550px;
    max-width: 1000px;
}

.welcome-line span {
    flex: 1;
}

#interactive-button {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(255, 103, 103);    
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}


a {
    color: rgb(255, 103, 103);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 103, 103);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 154, 154);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 5px rgb(255, 154, 154);
    text-decoration: underline;
    font-weight: bold;
}

/* Overlay Effect */

.overlay {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(10, 50, 50, 0.25) 50%
    ),
    linear-gradient(
        95deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 30px 100%;
  background-attachment: fixed;
  z-index: 1;
  animation: flicker 100ms infinite;
  pointer-events: none;
  opacity: 75%;
}

.overlay:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 70%,
        rgba(0, 0, 0, 0.4) 100%
    );
    z-index: 2;
}

@keyframes flicker {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.terminal {
    margin-left: 20px;
}

.input-line {
    margin-top: 20px;
    background-color: inherit;
}

#command-input {
    border: none;
    background: transparent;
    padding-left: 4px;
    width: 50%;    
    color: rgb(170, 254, 219);
    outline: none;
    caret-color: rgb(170, 254, 219);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(170, 254, 219);
    font-family: inherit;
    font-size: inherit;
}

#user {
    color: rgb(255, 242, 93);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 242, 93);
}

#host {
    color: rgb(255, 119, 41);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
}

#history{
    margin-right: auto;
}

.header {
    display: flex;
    max-width: 100%;
    align-items: end;  
    justify-content: left;
}

#headline {
    display: flex;
    font-family: monospace;
    line-height: 1.1;
}

#headline pre {
    font-size: clamp(1ch, 1.5vw, 2.5ch);
    margin: 0;
}

.output {
    white-space: pre-wrap;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-output {
    margin: 10px;
    max-width: 1000px;
    min-width: 250px;
}

.project-output {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    display: flex;
    font-size: clamp(10px, 1.5vw, 16px);
    width: clamp(500px, 95%, 1200px);
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
}

.project-text-container h2{
    color: #f6995a;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
    font-size: clamp(20px, 3vw, 30px);
}

.logo-container {
    display:flex;
    justify-content: center;
    margin-right: 10px;
    font-size: clamp(10px, 1.5vw, 16px);
    width: clamp(425px, 25%, 700px);
    flex-shrink: 0;
    padding: 10px;
}

.ascii-logo {
    font-size: 10px;
}

#terminal {
    margin-bottom: 200px;
}

.resume-container {
    padding: 0px;
    width: clamp(400px, 95%, 1200px);
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
}

.resume-container h3 {
    font-size: 20px;
    color: rgb(119, 223, 255);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(119, 223, 255);
}

.resume-container > div {
    margin: 0px;
    padding: 10px;
    border: inherit;
    box-shadow: inherit;
    background-color: inherit;
}

.resume-contact p {
    font-size: 20px;
    text-align: center;
}

.resume-skills-container ul {
    column-count: 3;
}


/* Audio Player */
.music-container {
    display: flex;
    margin: 50px 0px;
}

.audio-player {
  width: 30vw; /* Make it responsive */
  padding: 10px;
  background-color: transparent;
  opacity: 0.8;
  border: 1px solid rgb(149, 255, 175);;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
  margin: 20px;
}

#oscilloscope {
    /* display: block; */
    width: clamp(500px, 20vw, 2000px);
    aspect-ratio: 1;
    border-top: 1px solid #0f0;
    background: black;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}
