body {
    background-color: #0f0f0f!important;
    font-family: "Courier New", Courier, monospace;
    color: rgb(149, 255, 175);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    font-size: 16px;
    height: 100%;
    margin: 0px;
}

ul {
    padding: 0;
}

a {
    color: rgb(255, 103, 103);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 103, 103);
    text-decoration: none;
    
    &:hover {
        font-weight: bold;
        color: rgb(255, 154, 154);
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 5px rgb(255, 154, 154);
    }

    &:active {
        font-size: 1.5ch;
    }
}

/* Header Elements */

.header {
    width: 90vw;
    margin: 10px;
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
}

#headline {
    display: flex;
    font-family: monospace;
    line-height: 1.1;
}

#deer-header {
    font-size: clamp(0.5ch, 1.5vw, 2ch);
    margin: 0;
}

.welcome-line {
    display: flex;
    align-items: center;
    justify-content: left;
    width: clamp(200px, 100%, 1200px);
    flex-wrap: wrap;
}

.welcome-line span {
    flex: 1;
}

/* Navbar Elements */
nav {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18pt;
    width: 100%;
    font-size: clamp(24, 1.5vw, 30px);
    z-index: 998;
}

nav div {
    display: inherit;
    width: 90%;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
}

nav ul {
    width: 100%;
    list-style: none;
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav li {
    margin: 1% 5%
}

/* End of Navbar */

#interactive-button {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(255, 103, 103);    
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;

    &:hover {
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 8px rgb(149, 255, 175);
    };

    &:active {
        scale: 0.95;
        font-weight: normal;
    };
}

/* Overlay Effect */

.overlay {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(10, 50, 50, 0.25) 50%
    ),
    linear-gradient(
        95deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 30px 100%;
  background-attachment: fixed;
  z-index: 1;
  animation: flicker 100ms infinite;
  pointer-events: none;
  opacity: 75%;
  
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0) 70%,
            rgba(0, 0, 0, 0.4) 100%
        );
        z-index: 2;
    }
}

@keyframes flicker {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.terminal {
    margin-left: 20px;
}

.input-line {
    margin-top: 20px;
    background-color: inherit;
}

#command-input {
    border: none;
    background: transparent;
    padding-left: 4px;
    width: 50%;    
    color: rgb(170, 254, 219);
    outline: none;
    caret-color: rgb(170, 254, 219);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(170, 254, 219);
    font-family: inherit;
    font-size: inherit;
}

#user {
    color: rgb(255, 242, 93);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 242, 93);
}

#host {
    color: rgb(255, 119, 41);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
}

#history{
    margin-right: auto;
}

.output {
    white-space: pre-wrap;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-output {
    margin: 10px;
    max-width: 1000px;
    min-width: 250px;
}

.project-output {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    display: flex;
    font-size: clamp(10px, 1.5vw, 16px);
    width: clamp(500px, 95%, 1200px);
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
}

.project-text-container h2{
    color: #f6995a;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
    font-size: clamp(20px, 3vw, 30px);
}

.logo-container {
    display:flex;
    justify-content: center;
    margin-right: 10px;
    font-size: clamp(10px, 1.5vw, 16px);
    width: clamp(425px, 25%, 700px);
    flex-shrink: 0;
    padding: 10px;
}

.ascii-logo {
    font-size: 10px;
}

#terminal {
    margin-bottom: 200px;
}

.resume-container {
    padding: 0px;
    width: clamp(400px, 95%, 1200px);
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
}

.resume-container h3 {
    font-size: 20px;
    color: rgb(119, 223, 255);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(119, 223, 255);
}

.resume-container > div {
    margin: 0px;
    padding: 10px;
    border: inherit;
    box-shadow: inherit;
    background-color: inherit;
}

.resume-contact p {
    font-size: 20px;
    text-align: center;
}

.resume-skills-container ul {
    column-count: 3;
}


/* Music Page Styling --------------------------------- */

.music-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#playlist {
    display: flexbox;
    flex-direction: column;
    position: inherit;
    width: 22%;
    justify-content: center;
    align-items:flex-start;
    list-style: none;
    margin: 0px 10px;
}

#visualizer {
    width: clamp(300px, 75%, 800px);
    position: relative;
    justify-content: center;
    margin: 0px 10px;
}

.audio-player {
  width: 100%;
  /* padding: 10px; */
  background-color: transparent;
  border: 1px solid rgb(149, 255, 175);;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
  margin: 5px 0px 15px 0px;
}



#visual-toggles {
    width: 100%;
}

#visualizer li {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

#visualizer span {
    position: inherit;
    width: clamp(150px, 34%, 1000px);
    font-size: 2ch;
}

#visualizer input {
    position: inherit;
    -webkit-appearance: none;
    margin: 8px 0px;
    width: clamp(300px, 65%, 100%);
    max-width: 100%;
    /* width: 65%; */
    height: 10px;
    background: inherit;
    outline: none;
    border: 1px solid rgb(149, 255, 175);;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
}

/* for chrome/safari */
#visualizer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 60px;
    background: transparent;
    cursor: -webkit-grab;
    border: 1px solid rgb(149, 255, 175);;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
}

/* for firefox */
#visualizer input::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #0f0f0f;
    cursor: -moz-grab;
    border: 1px solid rgb(149, 255, 175);;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    border-radius: 2px;
}

#oscilloscope {
    width: 100%;
    aspect-ratio: 1;
    max-height: 90vh;
    background: black;
    border: 1px solid #95ffaf;;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

#toggle-scope {
    background-color: transparent;
    color: inherit;
    text-shadow: inherit;
    font-family: inherit;
    font-size: 3ch;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #95ffaf;;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);

    &:hover {
        scale: 1.01;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 8px rgb(149, 255, 175);
    };

    &:active {
        scale: 0.95;
        font-weight: normal;
    };
}
