body {
    background-color: #0f0f0f!important;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgb(149, 255, 175);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    margin-left: 20px;
    font-size: 16px;
    width: clamp(500, 100%, 1500);
}

a {
    color: rgb(255, 103, 103);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 103, 103);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 154, 154);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 154, 154);
    text-decoration: none;
}

.input-line {
    margin-top: 20px;
    background-color: inherit;
}

#command-input {
    border: none;
    background: transparent;
    padding-left: 4px;
    width: 50%;    
    color: rgb(170, 254, 219);
    outline: none;
    caret-color: rgb(170, 254, 219);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(170, 254, 219);
    font-family: inherit;
    font-size: inherit;
}

#user {
    color: rgb(255, 242, 93);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 242, 93);
}

#host {
    color: rgb(255, 119, 41);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
}

#history{
    margin-right: auto;
}

.header {
    display: flex;
    align-items: end;  
    justify-content: left;
    /* gap: 20px; */
}

#headline {
    display: flex;
    margin: 0;
    white-space: pre;
    font-family: monospace;
    font-size: clamp(12px, 1.5vw, 16px);
    line-height: 1.1;
    max-width: 100%;
    min-width: 500px;
}

#headline pre {
    margin: 0;
}

.ascii-deer-gif {
    margin-bottom: 40px;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    mix-blend-mode: screen;
}

.output {
    white-space: pre-wrap;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-output {
    max-width: 1000px;
    min-width: 250px;
}

.project-output {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
}

.project-text-container {
    flex: 1;
    min-width: 300px;
    max-width: 1000px;
}

.project-text-container h2{
    color: #f6995a;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
    font-size: 30px;
}

.logo-container {
    display:flex;
    justify-content: center;
    min-width: 575;
    width: 750px;
    flex-shrink: 0;
    padding: 20px;
}

.ascii-logo {
    /* color: rgb(198, 124, 174); */
    font-size: inherit;
}

#terminal {
    margin-bottom: 200px;
}

.resume-container {
    padding: 0px;
    width: clamp(400px, 95%, 1200px);
    /* max-width: 1500px; */
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
}

.resume-container h3 {
    font-size: 20px;
    color: rgb(119, 223, 255);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(119, 223, 255);
}

.resume-container > div {
    margin: 0px;
    padding: 10px;
    border: inherit;
    box-shadow: inherit;
    background-color: inherit;
}

.resume-contact p {
    font-size: 20px;
    text-align: center;
}

.resume-skills-container ul {
    column-count: 3;
}
