body {
    background-color: #0f0f0f!important;
    font-family: "Courier New", Courier, monospace;
    color: rgb(149, 255, 175);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    font-size: 16px;
    height: 100%;
    margin: 0px;
}

ul {
    padding: 0;
}

a {
    color: rgb(255, 103, 103);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 103, 103);
    text-decoration: none;
    
    &:hover {
        font-weight: bold;
        color: rgb(255, 154, 154);
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 5px rgb(255, 154, 154);
    }
}

/* Header Elements */

.header {
    width: 100vw;
    position: relative;
    display:flex;
    position: relative;
    flex-direction: column;
}

#deer-header {
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: center;
    font-size: clamp(0.5ch, 1.5vw, 2ch);
    font-family: monospace;
    line-height: 1.1;
}

.welcome-line {
    padding-left: 20px;
    margin-top: 10px;
    justify-content: left;
}

.welcome-line span {
    flex: 1;
}

/* Navbar Elements */
nav {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18pt;
    width: 100vw;
    font-size: clamp(24, 1.5vw, 30px);
    margin-bottom: 10px;
}

nav div {
    display: inherit;
    width: 90%;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
}

nav ul {
    width: 100%;
    list-style: none;
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav li {
    margin: 1% 5%
}

/* Overlay Effect */
.overlay {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(10, 50, 50, 0.25) 50%
    ),
    linear-gradient(
        95deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 30px 100%;
  background-attachment: fixed;
  z-index: 1;
  animation: flicker 100ms infinite;
  pointer-events: none;
  opacity: 75%;
  
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0) 70%,
            rgba(0, 0, 0, 0.4) 100%
        );
        z-index: 2;
    }
}

@keyframes flicker {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Homepage Styling */
#homepage-container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.homepage-summary {
    box-sizing: border-box;
    width: 90%;
    justify-content: center;
}

/* Project Styling */
#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.project-output {
    box-sizing: border-box;
    display: inherit;
    width: 90%;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    font-size: clamp(1ch, 10%, 1.5ch);
    justify-content: left;
    align-items: center;

    h2 {
        color: #f6995a;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 41);
        font-size: 6ch;
    }

    p {
        font-size: 4ch
    }
}

.logo-container {
    color: #f2ff82;
    display:flex;
    justify-content: right;
    width: clamp(425px, 25%, 700px);
    font-size: clamp(1ch, 100%, 10ch);
    flex-shrink: 0;
    margin-right: 10px;
}

/* Resume Styling */
.resume {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.resume-container {
    box-sizing: border-box;
    width: clamp(250px, 90%, 1000px);
    margin: auto;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    background-color: rgba(0, 0, 0, 0);
    padding: 30px;
}

.job-title {
    font-size: 18px;
    color: rgb(255, 119, 119);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(255, 119, 119);
}

.resume-experience li {
    padding-left: 30px;
    list-style: none;
    margin-bottom: 10px;
}

.resume-container h3 {
    font-size: 20px;
    color: rgb(119, 223, 255);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(119, 223, 255);
}

.resume-contact p {
    font-size: 20px;
    text-align: center;
}

.resume-skills-container ul {
    column-count: 3;
}

/* Publication Styling */
#publications {
    position: relative;
    width: 100vw;
    place-items: center;
}

.publication {
    box-sizing: border-box;
    width: clamp(500px, 90%, 1000px);
    margin: 0px auto 10px auto;
    padding: 10px 30px;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
}

/* Music Page Styling --------------------------------- */

#ganymede {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: clamp(0.1ch, 1vw, 10ch);
    margin: 0;
    line-height: 1.1;

    pre {
        margin: 0;
        padding: 0;
    }
}

.music-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 10px;
}

.playlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.playlist li {
    padding: 5px;
    &:hover {
        background-color: rgb(149, 255, 175);
        color: #0f0f0f;
    }
}

.playlist a {
    color: inherit;
    text-decoration: none;
}

#visualizer {
    width: clamp(300px, 75%, 800px);
    position: relative;
    justify-content: center;
    margin: 0px 10px;
}

.audio-player {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: transparent;
    border: 1px solid rgb(149, 255, 175);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    margin: 0px 0px 15px 0px;
}

#visual-toggles {
    width: 100%;
}

#visualizer li {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

#visualizer span {
    position: inherit;
    width: clamp(150px, 34%, 1000px);
    font-size: 2ch;
}

.visual-slider {
    position: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 8px 0px;
    width: clamp(300px, 65%, 100%);
    max-width: 100%;
    height: 10px;
    background: none;
    outline: none;
    border: 1px solid rgb(149, 255, 175);;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
}

/* for chrome/safari */
.visual-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #0f0f0f;
    cursor: -webkit-grab;
    border: 1px solid rgb(149, 255, 175);;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
}

/* for firefox */
.visual-slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #0f0f0f;
    cursor: -moz-grab;
    border: 1px solid rgb(149, 255, 175);;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    border-radius: 2px;
}

#oscilloscope {
    width: 100%;
    aspect-ratio: 1;
    max-height: 90vh;
    background: black;
    border: 1px solid #95ffaf;;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

#toggle-scope {
    background-color: transparent;
    color: inherit;
    text-shadow: inherit;
    font-family: inherit;
    font-size: 3ch;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #95ffaf;;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 4px rgb(149, 255, 175);

    &:hover {
        scale: 1.01;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 8px rgb(149, 255, 175);
    };

    &:active {
        scale: 0.95;
        font-weight: normal;
    };
}
