

<div class="overlay"></div>
<div class="header">
    <div class="welcome-line">
        <span>visitor@gagerowden.com:~$ <span class="blinker">welcome</span></span>
    </div>
        <a href="https://open.spotify.com/artist/23DyBlyjDtXfYo333RBWj7">
            <div id="ganymede">
                <pre>                                     
                            ^////////^^^^                              
                      ^([[[//^ ^^^^^^ ^^   ^                           
                 ^[$@@$$9[[((/(/^                                      
              ^9@@9$[^^/   //(([(^//^  ^//^^^                          
            /99(  ^^/[(^/(      ^/(^/(/^^/   ^^                        
          /9[^ ^/            ^//^ ((^^   ^ ^^^^^^                      
         9( /@$99$[[(//([[/(((//     ///((//^                          
       9@9(/(/(([[99(/^  ^         /[(^   ^ ^ ^^                       
      @@9[$@@9[^  ^^ ^^^^^^  ^^^^ //      ^///^^                       
     9@9((9( /  ^/[^^^//  ^ ///// ^  / ^^    /^^^                      
    [99@9[/\\\\\\\\\\\\_____/\\\\\\\\\_____/\\\\\_____/\\\__/\\\________/\\\__/\\\\____________/\\\\__/\\\\\\\\\\\\\\\__/\\\\\\\\\\\\_____/\\\\\\\\\\\\\\\
    9@@99/\\\//////////____/\\\\\\\\\\\\\__\/\\\\\\___\/\\\_\///\\\____/\\\/__\/\\\\\\________/\\\\\\_\/\\\///////////__\/\\\////////\\\__\/\\\///////////_
   (99$[$\/\\\____/\\\\\\\_\/\\\_______\/\\\_\/\\\//\\\_\/\\\_____\///\\\/______\/\\\\///\\\/\\\/_\/\\\_\/\\\\\\\\\\\_____\/\\\_______\/\\\_\/\\\\\\\\\\\__
   $9@$999\/\\\___\/////\\\_\/\\\\\\\\\\\\\\\_\/\\\\//\\\\/\\\_______\/\\\_______\/\\\__\///\\\/___\/\\\_\/\\\///////______\/\\\_______\/\\\_\/\\\///////__
   @[@[[@@$\/\\\_______\/\\\_\/\\\/////////\\\_\/\\\_\//\\\/\\\_______\/\\\_______\/\\\____\///_____\/\\\_\/\\\_____________\/\\\_______\/\\\_\/\\\________
   @[([(@(([\/\\\_______\/\\\_\/\\\_______\/\\\_\/\\\__\//\\\\\\_______\/\\\_______\/\\\_____________\/\\\_\/\\\_____________\/\\\_______/\\\__\/\\\____________
   @@(^$[[9/$\//\\\\\\\\\\\\/__\/\\\_______\/\\\_\/\\\___\//\\\\\_______\/\\\_______\/\\\_____________\/\\\_\/\\\\\\\\\\\\\\\_\/\\\\\\\\\\\\/___\/\\\\\\\\\\\\\\\
   9@[/$9([$((/\////////////____\///________\///__\///_____\/////________\///________\///______________\///__\///////////////__\////////////_____\///////////////
    @@[@[/^[999((/  [^/   $$[[/^/ ^//^^^^^                             
    /@[@@((((^^^[$@$// ^^(/^// /9[/^ ^^^^^^^^  ^^                      
     $@[[[/($$99(($$/([(/^^^^    [(  ^^^ ^                             
      [[   ^$@@@@/ ^9$$9[        (9( ^^^^^                             
       9@(  ^[9^//  ^/ [@@9/^ /9$9[9^ ^^^ ^^^    ^                     
         @@// [@@9[[   9/([[$$   ^/  /^^^//^ ^  ^                      
          [@@^ [$@[$@9//^//  ^   /(/^^          ^                      
            [@@[((   ((/^//^//(9$[(/ ^^/^^/^                           
               9@@@@[  ^^^^/^///// /(//^  ^/^^^                        
                  ^[$$[/^/^^  ^   ^/    ^^ ^^                          
                      /[99[((//^/^^^//   ^                             
                            ^^/////^^^^^^                              
                </pre>
            </div>
        </a>
        <nav w3-include-html="/templates/navbar.html"></nav>
    </div>
</div>