<!DOCTYPE html>
<a class="shortcut" id="home-shortcut" href="./"><img src="https://win98icons.alexmeub.com/icons/png/computer-4.png" alt="">Home</a>
<a class="shortcut" id="projects-shortcut" href="/projects/"><img src="https://win98icons.alexmeub.com/icons/png/internet_options-0.png" alt="">Projects</a>
<a class="shortcut" href="/resume/"><img src="https://win98icons.alexmeub.com/icons/png/notepad_file-2.png" alt="">Resume</a>
<a class="shortcut" href="/publications/"><img src="https://win98icons.alexmeub.com/icons/png/directory_open_file_mydocs_2k-2.png" alt="">Publications</a>
<a class="shortcut" href="/music/"><img src="https://win98icons.alexmeub.com/icons/png/cd_audio_cd_a-4.png" alt="">Music</a>
<a class="shortcut" href="/utilities/"><img src="https://win98icons.alexmeub.com/icons/png/directory_admin_tools-4.png" alt="">Utilities</a>
